@font-face {
    font-family: 'Webnar';
    src: url('Webnar-Medium.eot');
    src: local('Webnar Medium'), local('Webnar-Medium'),
        url('Webnar-Medium.eot?#iefix') format('embedded-opentype'),
        url('Webnar-Medium.woff2') format('woff2'),
        url('Webnar-Medium.woff') format('woff'),
        url('Webnar-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-Thin.eot');
    src: local('Webnar Thin'), local('Webnar-Thin'),
        url('Webnar-Thin.eot?#iefix') format('embedded-opentype'),
        url('Webnar-Thin.woff2') format('woff2'),
        url('Webnar-Thin.woff') format('woff'),
        url('Webnar-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-SemiBold.eot');
    src: local('Webnar Semi Bold'), local('Webnar-SemiBold'),
        url('Webnar-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Webnar-SemiBold.woff2') format('woff2'),
        url('Webnar-SemiBold.woff') format('woff'),
        url('Webnar-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-Regular.eot');
    src: local('Webnar Regular'), local('Webnar-Regular'),
        url('Webnar-Regular.eot?#iefix') format('embedded-opentype'),
        url('Webnar-Regular.woff2') format('woff2'),
        url('Webnar-Regular.woff') format('woff'),
        url('Webnar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-Bold.eot');
    src: local('Webnar Bold'), local('Webnar-Bold'),
        url('Webnar-Bold.eot?#iefix') format('embedded-opentype'),
        url('Webnar-Bold.woff2') format('woff2'),
        url('Webnar-Bold.woff') format('woff'),
        url('Webnar-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-Light.eot');
    src: local('Webnar Light'), local('Webnar-Light'),
        url('Webnar-Light.eot?#iefix') format('embedded-opentype'),
        url('Webnar-Light.woff2') format('woff2'),
        url('Webnar-Light.woff') format('woff'),
        url('Webnar-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-Italic.eot');
    src: local('Webnar Italic'), local('Webnar-Italic'),
        url('Webnar-Italic.eot?#iefix') format('embedded-opentype'),
        url('Webnar-Italic.woff2') format('woff2'),
        url('Webnar-Italic.woff') format('woff'),
        url('Webnar-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-BoldItalic.eot');
    src: local('Webnar Bold Italic'), local('Webnar-BoldItalic'),
        url('Webnar-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Webnar-BoldItalic.woff2') format('woff2'),
        url('Webnar-BoldItalic.woff') format('woff'),
        url('Webnar-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-Black.eot');
    src: local('Webnar Black'), local('Webnar-Black'),
        url('Webnar-Black.eot?#iefix') format('embedded-opentype'),
        url('Webnar-Black.woff2') format('woff2'),
        url('Webnar-Black.woff') format('woff'),
        url('Webnar-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-MediumItalic.eot');
    src: local('Webnar Medium Italic'), local('Webnar-MediumItalic'),
        url('Webnar-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Webnar-MediumItalic.woff2') format('woff2'),
        url('Webnar-MediumItalic.woff') format('woff'),
        url('Webnar-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-BlackItalic.eot');
    src: local('Webnar Black Italic'), local('Webnar-BlackItalic'),
        url('Webnar-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Webnar-BlackItalic.woff2') format('woff2'),
        url('Webnar-BlackItalic.woff') format('woff'),
        url('Webnar-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-SemiBoldItalic.eot');
    src: local('Webnar Semi Bold Italic'), local('Webnar-SemiBoldItalic'),
        url('Webnar-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Webnar-SemiBoldItalic.woff2') format('woff2'),
        url('Webnar-SemiBoldItalic.woff') format('woff'),
        url('Webnar-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-ThinItalic.eot');
    src: local('Webnar Thin Italic'), local('Webnar-ThinItalic'),
        url('Webnar-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Webnar-ThinItalic.woff2') format('woff2'),
        url('Webnar-ThinItalic.woff') format('woff'),
        url('Webnar-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Webnar';
    src: url('Webnar-LightItalic.eot');
    src: local('Webnar Light Italic'), local('Webnar-LightItalic'),
        url('Webnar-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Webnar-LightItalic.woff2') format('woff2'),
        url('Webnar-LightItalic.woff') format('woff'),
        url('Webnar-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

