/* TeamCard Component classes */

.team__img {
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 80%;
}

.team__card--wrapper {
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    display: flex;
}


/* Team Component classes */

.team-container {
    padding: 120px 0;
}

.team__cardBio {
    text-align: center;
    width: 280px;
}

.team__cardName {
    font-size: 1.4rem;
    font-weight: 550;
}

.team__cardPosition {
    font-size: 1rem;
}


.team__card--row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0 40px;
}


.team__headline--wrapper {
    position: relative;
    font-family: sans-serif;
}

.team__title {
    color: #000000;
    font-weight: 550;
    text-align: right;
    margin-right: 150px;
    font-size: 5rem;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
}

.team__title--stroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
}

span {
    padding: 0;
    margin: 0;
}




/* Mobile Team Component classes */

@media screen and (max-width: 960px) {
    .team__card--row {
        flex-direction: column;

    }

    .team__title {
        margin: 0;
        text-align: center;
    }
}