.about--chart {
    height: 75%;
    background: rgba(4, 4, 4, 0.25);
    padding: 40px 20px;
    border-radius: 16px;
}

@media screen and (max-width: 960px) {
    .about--chart {
        height: 400px;
        padding: 10px;
        margin: 20px 30px;
    }
}