article {
  width: 100%;
  height: 100%;
  opacity: 0;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  display: none;
  transform: translateX(-100%);
}

article.nextSlide {
  display: none;
  transform: translateX(100%);
}