article {
  width: 100%;
  height: 100%;
  opacity: 0;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  display: none;
  transform: translateX(-100%);
}

article.nextSlide {
  display: none;
  transform: translateX(100%);
}


.slider__resource {
  color: #08D3FF;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.slider__title {
  font-size: 3rem;
}